<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <title>Quik Task | <%= @page_title || "Admin" %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/readable/bootstrap.min.css">
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800|Roboto+Slab:100,300,400,700');
        header .navbar{
           margin-bottom: 0px;
       }
       .main{
        margin-top: 80px;
       }
        header .navbar-default .navbar-nav a:hover{
          color:#EEC856;
        }

        header .navbar-default .navbar-nav .active a{
            border-bottom: 4px solid #EEC856;
        }

        /**Navbar-brand**/
        header .navbar-brand h1{
          padding-left: 110px;
          padding-top: 0px;
          margin-top: 0;
          color:white;
          font-size :1.8em;
          font-weight: 400;
        }

        header .navbar-brand span.subhead{
          font-family: "Roboto Slab",serif;
          font-size: 0.6em;
          font-weight: 100;
          
        }

        /**Navbar-toggole**/
        header .navbar-toggle {
          background-color: #279182;
        }

        header .navbar-default .navbar-toggle .icon-bar{
          background-color: white;
        }

        @media only screen and (max-width:768px){
          header .navbar-collapse.in {
            background-color: rgba(0, 0, 0, 0.5);
          }
        }
      .table {
          margin-top:40px;
        }
      footer{
        margin-top: 180px;
      }
      footer .navbar-default {
         background: transparent;
         border: none;

       }
    </style>
    <script type="text/javascript">
        $('#myModal').modal(options)
    </script>
  </head>
  <body>
        <header>
          <nav class="navbar navbar-default navbar-fixed-top" roll="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand"><h2>QuikProcess <span class="subhead">make it fast</span></h2></a>
              </div>
              <div class="collapse navbar-collapse" id="collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li class="active"><a href="#">Employees</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Techonologies</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
              </div><!--collapse navbar-collapse-->
            </div><!--container-->
          </nav>
    </header>
    <div class="main" >
      <%= render 'flash_messages' %>
      <%= yield %>
    </div> 
  </body>
  <footer>
     <div class="content container-fluid ">
        <div class="row">
            <div class="col-sm-6">
              <p>Call us toll-free at <span class="phone">888-555-1212</span></p>
              <p>All contents &copy; 2017 <a href="http://QuikProcess.com">QuikProcess.com</a>. All rights reserved.</p>
            </div> <!-- col-sm-6 -->
            <div class="col-sm-6">
              <nav class="navbar navbar-default" role="navigation">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Privacy policy</a></li>
                </ul>
              </nav>
            </div><!-- col-sm-6 -->
        </div><!-- row -->
     </div> <!-- container-fluid -->
  </footer>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
